@import "frappe.css";

* {
    font-family: mesloLGS Nerd Font mono;
    font-size: 11px;
    font-weight: bold;
}

/* --------------------  WayBar  -------------------- */

#waybar {
    background: alpha(@base, 0.8);
    margin: 0.5rem;
    padding: 2px;
}

#waybar.hidden {
    opacity: 0.2;
}

/* --------------------  Left Bar  -------------------- */

#image-niri-logo {
    padding: 2px 8px;
    margin: 3px 8px 3px 8px;
}

#workspaces {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 2px 5px;
    padding: 2px;
}

#workspaces button {
    border-radius: 1rem;
    color: @text;
    padding: 2px 6px;
}

#workspaces button.active {
    background-color: @blue;
    border-radius: 1rem;
    color: @crust;
}

#workspaces button:hover {
    background-color: @text;
    border-radius: 1rem;
    color: @crust;
}

/* #window {
    background-color: @surface0;
    border-radius: 1rem;
    color: @text;
    margin: 5px 0;
    padding: 0.5rem 1rem;
} */

/* --------------------  Center Bar  -------------------- */

#clock {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 3px 0;
    padding: 0.3rem 1rem;
}

/* --------------------  Right Bar  -------------------- */

#waybar.bar-dp1 #sysinfo {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 3px 0;
    padding: 0.3rem 1rem;
}

#waybar.bar-hdmi1 #cpu {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 3px 0;
    padding: 0.3rem 1rem;
}

#waybar.bar-hdmi2 #cpu {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 3px 0;
    padding: 0.3rem 1rem;
}

/* #cpu {
    background-color: @surface0;
    border-radius: 1rem;
    color: @text;
    margin: 5px 0;
    padding: 0.3rem 1rem;
} */

/* #temperature {
    background-color: @surface0;
    border-radius: 1rem;
    color: @text;
    margin: 5px 0;
    padding: 0.3rem 1rem;
} */

#memory {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 3px 0;
    padding: 0.3rem 1rem;
}

#pulseaudio {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 3px 0;
    padding: 0.3rem 1rem;
}

#tray {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 3px 0;
    padding: 0.3rem 1rem;
}

/* --------------------  Mako DND  -------------------- */

#custom-mako-dnd {
    background-color: @surface0;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    margin: 3px 0;
    font-size: 13px;
}

#custom-mako-dnd.active {
    background-color: @blue;
    color: @crust;
}

/* --------------------  Custom/Power  -------------------- */

#custom-ephedrine {
    background-color: @surface0;
    color: @text;
    border-radius: 1rem;
    padding: 2px 8px;
    margin: 3px 0;
}

#custom-ephedrine.active {
    background-color: @blue;
    color: @crust;
}

/* --------------------  Custom/Power  -------------------- */

#custom-power {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 2px 0;
    padding: 2px 8px;
    font-size: 1.1rem;
}

menu {
    background-color: @base;
    border-radius: 1rem;
    margin: 3px 0;
    padding: 0.3rem 1rem;
}

menuitem {
    background-color: @base;
    border-radius: 1rem;
    font-size: 1.1rem;
    margin: 3px 0;
    padding: 0.3rem 1rem;
}

menuitem:hover {
    background-color: @surface0;
    color: @blue;
}