@import "frappe.css";

* {
    font-family: mesloLGS Nerd Font mono;
    font-size: 10px;
    font-weight: bold;
    min-height: 0;
}

/* --------------------  WayBar  -------------------- */

#waybar {
    background: alpha(@base, 0.8);
    margin: 2rem;
    padding: 1.2rem;
}

#waybar.hidden {
    opacity: 0.2;
}

/* --------------------  Left Bar  -------------------- */

#workspaces {
    background-color: @surface0;
    border-radius: 1rem;
    margin-left: 1rem;
    margin: 5px;
    padding: 0.5rem;
}

#workspaces button {
    border-radius: 1rem;
    color: @text;
    padding: 0.5rem;
}

#workspaces button.active {
    background-color: @blue;
    border-radius: 1rem;
    color: @crust;
}

#workspaces button:hover {
    background-color: @text;
    border-radius: 1rem;
    color: @crust;
}

/* #window {
    background-color: @surface0;
    border-radius: 1rem;
    color: @text;
    margin: 5px 0;
    padding: 0.5rem 1rem;
} */

/* --------------------  Center Bar  -------------------- */

#clock {
    background-color: @surface0;
    border-radius: 1rem 1rem 1rem 1rem;
    color: @text;
    margin: 5px 0;
    padding: 0.5rem 1rem;
}

/* --------------------  Right Bar  -------------------- */

#cpu, #memory, #temperature {
    background-color: @surface0;
    border-radius: 1rem 1rem 1rem 1rem;
    color: @text;
    margin: 5px 0;
    padding: 0.5rem 1rem;
}

#pulseaudio {
    background-color: @surface0;
    border-radius: 1rem 1rem 1rem 1rem;
    color: @text;
    margin: 5px 0;
    padding: 0.5rem 1rem;
}

#tray {
    background-color: @surface0;
    border-radius: 1rem 1rem 1rem 1rem;
    color: @text;
    margin: 5px 0;
    padding: 0.5rem 1rem;
}

/* --------------------  Custom/Power  -------------------- */

#custom-power {
    background-color: @surface0;
    border-radius: 1rem 1rem 1rem 1rem;
    color: @text;
    margin: 5px 0;
    padding: 0.5rem 1rem;
}

menu {
    background-color: @base;
    border-radius: 1rem 1rem 1rem 1rem;
    color: @text;
    margin: 5px 0;
    padding: 0.5rem 1rem;
}

menuitem {
    background-color: @base;
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 10px;
    margin: 5px 0;
    padding: 0.5rem 1rem;
}

menuitem:hover {
    background-color: @surface0;
    color: @blue;
}