//
//        Title:      config.kdl
//        Brief:      Main configuration file for Niri
//        Path:       /home/jkyon/.config/niri/config.kdl
//        Author:     John Kennedy a.k.a. jKyon
//        Created:    2026-07-31
//        Updated:    2026-07-31
//        Notes:
//

include "modules/animations.kdl"
include "modules/binds.kdl"
include "modules/environment.kdl"
include "modules/hotkey-overlay.kdl"
include "modules/input.kdl"
include "modules/layout.kdl"
include "modules/output.kdl"
include "modules/screenshot-path.kdl"
include "modules/spawn-at-startup.kdl"
include "modules/window-rule.kdl"
include "modules/workspaces.kdl"